*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.imagAll{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    flex-wrap: wrap;
}

.imag{
    margin: 10px;
    /* padding: 10px; */
    border: 1px solid lightgrey;
   box-shadow: 4px 4px 4px 0 lightgray;
   width: 500px;
  
}
img{
    padding: 0;
    margin: 0;
    height: 400px;
    width: 100%;
}
p, h3{
    padding: 5px;
    margin: 10px 10px 1px 10px;
}
button{
    width: 92%;
    height: 40px;
    background-color: gray;
    border: none;
    color: white;
    margin: 10px 20px 20px 20px;
}